.post-friend{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.post-desc h3{
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.post-desc span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: gray;
}

.add-remove{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin:0;
    /* gap: 10px; */
}

/* .add-remove button{
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 330px;
    margin-bottom: 10px;
} */

.post-list{
    /* color: white; */
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 330px;
    margin-bottom: 10px;
}

.friend-list{
    /* color: white; */
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 10px;    
}