.navbar{
    width: 100%;
    height: 60px;
    color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

}

ul{
    display: flex;
    list-style: none;
}

ul li{
    margin-right: 20px;
    color:'blue';
}

.nav-first{
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}
.nav-first h1{
    margin-right: 20px;
}

/* .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #F6F6F6;
    border-radius: 5px;
    border: 1px solid #F6F6F6;
    align-self: center;
    margin: 10px;
    padding: 0 10px;
    background-color: #F6F6F6; 
} */

.search-container {
    position: relative; 
    display: inline-block; 
}

input[type="text"] {
    padding-right: 20px; /* add padding to the right of the input to make room for the icon */
}

.search-icon {
    position: absolute;
    right: 25px; /* positions the icon 25px from the right edge of the .search-container. */
    top: 50%;
    transform: translateY(-50%);
}


.nav-first input{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #F6F6F6;
    align-self: center;
    margin: 10px;
    padding: 0 10px;
    background-color: #F6F6F6;
}

.nav-second{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-second select{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #F6F6F6;
    align-self: center;
    margin: 10px;
    padding: 0 10px;
    background-color: #F6F6F6;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-items li {
    border: 0.5px solid #F6F6F6;
    width: 50px; /* adjust as needed */
    height: 50px; /* adjust as needed */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F6F6F6;
}

