.register-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 600px;
    border: 2px solid #3750f1;
    border-radius: 5px;
    
}

.register-login h1 {
    margin-bottom: 20px;
    color: #3750f1;
}



.signup-login {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    /* background-image: linear-gradient(#DBC7FF, #19006C); */

    }

.name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    align-self: center;

}


.name input {
    margin: 0px;
    align-self: center;
    width: 40%;
}

.inputBox {
    width: 80%;
    padding: 10px;
    margin: 10px ;
    border: 2px solid #3750f1;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    color: black;
    align-self: center;
}

.inputBox::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: blueviolet;
    opacity: 1; /* Firefox */
}



.appButton {
    width: 25%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3750f1;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
}

.appButton:hover {
    background-color: #0056b3;
}

